.body {
  width: 100vw;
  text-align: center;
}

.body h2 {
  font-size: 2em;
}

.catalog {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 30px;
}

.product {
  display: grid;
  grid-template-rows: 80% 20%;
  gap: 10px;
  text-align: center;
  overflow: hidden;
  padding: 20px 25px;
  background-image: var(--texture1);
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: var(--box);
  transition: transform ease-in-out 0.2s;
  color: var(--bgdark);

}

.product:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-color: var(--midlight);
}

.thumbnail {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.description {
  overflow: hidden;
  font-size: 0.8em;
  margin: auto;
}
