.body {
  width: 100vw;
  height: 100%;
  text-align: center;
}

.body h2 {
  font-size: 2em;
}

.catalog {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  height: 100%;
}

.product {
  display: grid;
  grid-template-rows: 76% 24%;
  gap: 15px;
  text-align: center;
  overflow: hidden;
  padding: 25px 20px;
  background-image: var(--texture1);
  border-radius: 6px;
  box-shadow: var(--box);
  transition: transform ease-in-out 0.2s;
  color: var(--bgdark);
}

.product:hover {
  transform: scale(1.02);
}

.thumbnail {
  border-radius: 6px;
  width: 100%;
  height: 25vh;
  margin: auto;
  opacity: 0.9;
}

.description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(1px);
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 8px;
  align-items: start;
  height: 100%;
  width: 100%;
}

.title h3 {
  font-family: 'Rubik glitch';
  font-size: 1.15em;
  line-height: 1;
}

.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons p {
  font-size: 0.9em;
  color: var(--brightYellow);
  background-color: var(--brightOrange);
  padding: 2px 7px;
  border-radius: 3px;
}

.buttons button {
  height: 70%;
  width: 1.5em;
}

.icon {
  width: 100%;
  border-radius: 4px;
  padding: 1px 2px;
  transition: transform ease-in-out 0.1s;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
