.body {
  width: 100vw;
  height: 100%;
  text-align: center;

}

.body h2 {
  font-size: 2em;
}

.catalog {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  height: 100%;
}

.product {
  aspect-ratio: 1 / 1.5;
  box-sizing: content-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  text-align: center;
  padding: 12px 10px;
  background-image: url(/images/background-paint-still-life.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: var(--box);
  transition: transform ease-in-out 0.2s;
  color: var(--bgdark);
}

.product:hover {
  transform: scale(1.02);
}

.thumbnail {
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  flex-grow: 1;
  opacity: 0.9;
}

.description {
  height: 100px;
  display: grid;

  grid-template-rows: 70% 30%;
  backdrop-filter: blur(1px);
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.description h3 {
  font-family: 'Rubik glitch';
  font-size: 16px;
  line-height: 1;
  padding: 0;
  margin: 0 2px;
}

.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;

}

.buttons p {
  width: fit-content;
  font-size: 13px;
  color: var(--brightYellow);
  background-color: var(--bgdark);
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  text-align: center;
}

.buttons button {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 1.5em;
  position: absolute;
  right: 5px;
  bottom: 0;
}

.icon {
  width: 100%;
  border-radius: 4px;
  transition: transform ease-in-out 0.1s;
  object-fit: cover;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
