.body {
  width: 100vw;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: calc(75% - 1.5em) 25%;
  padding: 1.5em;
  gap: 1.5em;
}

.body h2 {
  font-size: 34px;
  text-align: center;
  font-family: 'Rubik glitch';
}

.cart,
.checkout {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, 0.12);
  box-shadow: var(--box);
  border-radius: 5px;
  padding: 1.5em;
  width: 100%;
  backdrop-filter: blur(0.6px);
}

.checkout {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout h2 {
  padding-bottom: 20px;
}

.dItem {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  font-size: 22px;
}

.details .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  font-size: 24px;
  background-color: var(--brightOrange);
  color: var(--brightYellow);
  box-shadow: var(--box);
  border-radius: 2px;
}

.btnContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 15px;
}

.checkoutBtn {
  background-color: var(--bgdark);
  text-align: center;
  color: var(--bglight);
  padding: 8px 15px;
  font-family: inherit;
  font-size: 20px;
  border-radius: 3px;
  transition:
    transform ease-in 0.2s;
}

.checkoutBtn:hover {
  cursor: pointer;
  background-color: var(--bglight);
  color: var(--bgdark);
  transform: scale(1.05);
}



.products {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
}



.header,
.product {
  display: grid;
  grid-template-columns: calc(46% - 15px) 18% 18% 18%;
  text-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background-color: rgb(0, 0, 0, 0.75);
  color: var(--bglight);
  padding: 0;
}

.header {
  padding: 15px;
  background-color: rgb(0, 0, 0, 0.85);

}

.header p {
  font-size: 20px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 15px;
  font-family: 'Rubik glitch';
  font-size: 18px;
}

.item img {
  aspect-ratio: 1/1;
  object-fit: contain;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
}

.productTotal {
  color: var(--brightYellow);
  font-size: 18px;
  margin: auto;
}

.quantity {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  gap: 5px;
  margin: auto;
  height: 30px;
}

.quantity button {
  color: var(--bglight);
  font-size: 24px;
  font-family: inherit;
}

.quantity button:hover {
  cursor: pointer;
  color: var(--brightYellow);
}

.quantity input {
  background-color: var(--bglight);
  border: none;
  border-radius: 2px;
  color: var(--bgdark);
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

.emptyCart {
  border: 1px solid black;
  text-align: center;
  height: 58vh;
  border-radius: 4px;
  background-color: rgb(0, 0, 0, 0.55);
  color: var(--bglight);
  padding: 10px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
