:root {
  --bglight: #FFFAF2;
  --bgdark: #0E0D0C;
  --white: #FFFDF7;
  --middark: #002A62;
  --midlight: #FFEAB8;
  --brightYellow: #F5E427;
  --brightOrange: red;
  --box: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --texture1: url('/images/blue-paint-wall-background-texture.jpg');
  --texture2: url('/images/stone-surface-background.jpg');
}

/**Simple Normalization **/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: var(--texture1);
  background-size: cover;
  background-position: center;
}

ul,
li,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
p,
div {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li,
a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
}

/**HOMEPAGE**/

h1,
h2,
h3,
h4,
h5 {
  font-family: 'BBH Hegarty';
}

.Homepage {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: 'BBH Hegarty';
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
