.banner {
  width: 100vw;
  height: 89vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper {
  font-size: 1.8em;
  width: calc(100% - 80px);
  height: calc(100% - 80px);

  background-image: var(--texture2);
  background-size: cover;
  background-position: center;

  opacity: 0.8;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.thumbnail {
  flex: 1;
}
