.banner {
  width: 100vw;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.wrapper {
  position: relative;
  width: 92%;
  height: 85%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


.wrapper h1 {
  font-size: 60px;
}
