.banner {
  width: 100vw;
  height: 89vh;

  display: flex;
  justify-content: center;
  align-items: center;
}



.wrapper {
  position: relative;
  width: calc(100% - 140px);
  height: calc(100% - 80px);

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.wrapper img {
  position: absolute;
  width: 100%;
  height: 90%;
  opacity: 0.55;
  z-index: 2;
}

.wrapper h1 {
  z-index: 10;
  font-size: 60px;
}
