.loading {
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  z-index: 1000;
  font-size: 2.5em;
  font-family: 'Rubik glitch';
  color: var(--brightOrange);
}

.loader {
  letter-spacing: 0.05em;
  transform: translateY(-50%);

}

.loader span {
  display: inline-block;
  animation: wave 1.8s ease-in-out infinite;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
    opacity: 0.7;
  }

  50% {
    transform: translateY(-3px);
    opacity: 1;
  }

}
