.loading {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  z-index: 1000;
  font-size: 2.5em;
  font-family: 'Rubik glitch';
  color: var(--brightOrange);
}
